@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.login {
    &__card {
        margin: 1rem;
        border-radius: 6px;
        border: 1px solid $lightgray;
        padding: 1rem;
        background-color: $white;
    }
    &__title {
        color: $white;
        @include txt-mob-header;
        margin: 1rem 1rem 2rem 1rem;
        max-width: 50%;
        @include tablet {
            @include txt-header;
        }
    }
    &__label {
        @include txt-mob-labels;
        color: $black;
        @include tablet {
            @include txt-labels;
        }
    }
    &__input {
        margin: 0.5rem 0;
    }
}
