@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';


.input {
    border-radius: 20px;
    border: 1px solid $color-secondary-lining;
    width: 100%;
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    @include mobile-P2;
    @include tablet {
        @include desktab-P2;
        height: 2.375rem;
    }
    &::placeholder {
        color: $color-secondary-text;
    } 
    &__container {
        position: relative;
        width: 100%;
    }
    &__icon {
        position: absolute;
        right: 15px;
        top: 7px;
    }
}