@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.expenses {
    margin: 1rem;
    border-radius: 35px;
    border: 1px solid $lightgray;
    padding: 2.25rem 1rem;
    background-color: $white;
    &__container {
        border-top: 1px solid $lightgray; 
        padding-bottom: 1rem; 
    }
    &__title {
        @include txt-mob-sect-header;
        margin-top: 0;
    }
    &__amount {
        @include txt-mob-subheader;
        color: $silver;
    }
    &__header {
        padding: 0.5rem;
        width: 35%;;
    }
    &__info {
        display: flex;
        gap: 1rem;
        align-items: baseline;
    }
    &__buttons{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__button-container {
        width: 7rem;
    }
    &__edit-icon {
        width: 2rem;
    }
    &__add-icon {
        width: 2rem;
        color: $lightgray;
    }
    &__add-item {
        width: 100%;
    }
    &__link {
        text-decoration: none;
    }
}