@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

tspan {
    @include txt-mob-body;
    @include tablet {
        display: block;
        @include txt-body;
    }
}

.css-66gjpw-MuiResponsiveChart-container {
    @media (max-width: 47rem) {
        width: 100% !important;
    }

    @include tablet {
        margin-top: 2rem;
    }
}