@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.expense {
    margin: 1rem;
    border-radius: 35px;
    border: 1px solid $lightgray;
    padding: 2.25rem 1rem;
    background-color: $white;
    @include tablet {
        padding: 2.25rem;
    }
    @include desktop {
        @include max-width;
        margin-top: 2.25rem;
    }
    &__header {
        border-bottom: 1px solid $lightgray; 
        @include tablet {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
        &-container {
            display: flex;
            gap: 1rem;
            align-items: center;
        }
    }
    &__title {
        @include txt-mob-sect-header;
        
        @include tablet {
            @include txt-section-header;
        }
    }
    &__subtitle {
        @include txt-mob-subheader;
        color: $silver;
        @include tablet {
            @include txt-subheader;
        }
    }
    &__entry {
        border-bottom: 1px solid $lightgray; 
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }
    &__info {
        width: 60%;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        
    }
    &__icon {
        width: 1.5rem;
        &:hover {
            transform: scale(1.2);
        }
        &-container {
            display: flex;
            justify-content: space-around;
            padding: 1rem;
        }
        &-arrowleft {
            margin-top: 0.353rem;
            width: 1.5rem;
        }
    }
    &__add {
        &-entry {
        @include tablet {
            width: 9rem;
        }
    }
        &-button {
            @include tablet {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    
}