@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.button {
    border-radius: 20px;
    width: 100%;
    height: 2.25rem;
    @include txt-mob-labels;
    @include tablet {
        @include txt-labels;
        height: 2.375rem;
    }
    &__primary {
        color: $white;
        background-color: $purple;
        border-style: none;
        &:hover {
            background-color: $purple-dark;
        }
    }
    &__secondary {
        color: $silver;
        background-color: $white;
        border: 1px solid $lightgray;
        &:hover {
            border: 1px solid $purple-dark;
            color: $purple-dark;
        }
    }
    &__cancel {
        color: $white;
        background-color: $red;
        border-style: none;
        &:hover {
            background-color: $red-dark;
        }
    }
}