@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.button {
    border-radius: 20px;
    width: 100%;
    height: 2.25rem;
    @include txt-mob-body;
    @include tablet {
        @include txt-body;
        height: 2.375rem;
    }
    &__primary {
        color: $white;
        background-color: $purple;
        border-style: none;
        &:hover {
            background-color: $purple-hover;
        }
    }
    &__secondary {
        color: $silver;
        background-color: $white;
        border: 1px solid $silver;
        &:hover {
            border: 1px solid $purple-text;
            color: $purple-text;
        }
    }
    &__cancel {
        color: $color-primary-whiteGlobal;
        background-color: $color-supporting-outStock;
        border-style: none;
        &:hover {
            background-color: $color-backGround-nav;
        }
    }
}