@import '../../styles/partials/mixins';
@import '../../styles/partials/typography';
@import '../../styles/partials/variables';

*, *::before, *::after {
    box-sizing: border-box;
    color: $black;
}

body {
    margin: 0;
    background: linear-gradient(to top right, $green, $purple-dark);
    height: 100vh;
    @include txt-mob-body;
        @include tablet {
            @include txt-body;
        }
}