@import '../../styles/partials/mixins';
@import '../../styles/partials/typography';
@import '../../styles/partials/variables';

*, *::before, *::after {
    box-sizing: border-box;
    color: $black;
}

body {
    margin: 0;
    background: linear-gradient(to top right, $green, $purple-dark);
    position: relative;
    height: 100%;
    @include txt-mob-body;
        @include tablet {
            @include txt-body;
        }
}

button {
    border:none;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
