// Primary Colors
$black: #3e3d3d;
$green: #04D196;
$silver: #ACACAC;
$white: #FFFFFF;
// Secondary Colors
$purple: #7633E3;
$lightgray: #d3d2d2;
$purple-dark: #291051;
$red: #CD2222;
$red-dark: #670a0a;