// Primary Colors
$black: #3e3d3d;
$green: #04D196;
$silver: #8f8e8e;
$white: #FFFFFF;
// Secondary Colors
$purple: #7633E3;
$lightgray: #e0dede;
$mediumgray: #cccbcb;
$purple-dark: #291051;
$purple-black: #140828;
$red: #CD2222;
$red-dark: #670a0a;
$red-light:#f6dede;
$lightpurple: #eeeaf2;
$light-green:#caeee4;
$dark-green: #11372c;