// Primary Colors
$black: #242323;
$green: #04D196;
$silver: #ACACAC;
$white: #FFFFFF;
// Secondary Colors
$purple: #7633E3;
$purple-hover: #F2EAFF;
$lightgray: #E7E7E7;
$purple-text: #3F1A7A;
$red: #CD2222;
$red-hover: #EEA3A3;