@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.select {
    border-radius: 20px;
    border: 1px solid $lightgray;
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    @include txt-mob-body;
    @include tablet {
        @include txt-body;
        height: 2.375rem;
    }
    &::placeholder {
        color: $silver;
    } 
}