@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.table {
    margin: 1rem;
    border-radius: 35px;
    border: 1px solid $lightgray;
    padding: 2.25rem 1rem;
    background-color: $white;
    @include tablet {
        padding: 2.25rem;
        margin: 2.25rem;
    }
    @include desktop {
        @include max-width;
    }
    &__title {
        @include txt-section-header;
        border-bottom: 1px solid $lightgray;
        margin-top: 0;
        padding-bottom: 1rem;
        @include tablet {
            @include txt-section-header;
        }
    }
    &__header {
        padding: 0.5rem;
    }
    &__row {
        border-bottom: 1px solid $lightgray;
        display: grid;
        grid-template-columns: repeat(3, 1fr) 50px;
    }
    &__cell {
        padding: 0.5rem;
    }
    &__link {
        display: flex;
        justify-content: flex-end;
    }
    &__edit-icon {
        width: 2rem;
        grid-area: edit;
    }
}