@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.table {
    border-radius: 35px;
    border: 1px solid $lightgray;
    background-color: $white;
    padding: 2.25rem;
    margin: 2.25rem;
    @include desktop {
        @include max-width;
        margin-top: 2.25rem;
    }
    &__title {
        @include txt-section-header;
        margin-top: 0;
        &-container {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    }
    &__amount {
        @include txt-subheader;
        color: $silver;
    }
    &__header {
        padding: 0.5rem;
    }
    &__row {
        border-bottom: 1px solid $lightgray;
        display: grid;
        grid-template-columns: 2fr repeat(2, 1fr) 6rem;
        &:hover{
            background-color: $lightpurple;
        }
        &--header {
            background-color: $lightgray;
            &:hover {
                background-color: $white;
            }
        }
    }
    &__cell {
        padding: 0.5rem;
        align-self: center;
        &--buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__add-icon {
        width: 1.75rem;
        grid-area: edit;
    }
    &__edit-icon {
        width: 2rem;
        grid-area: edit;
    }
    &__add-item {
        width: 8rem;
        padding-top: 0.75rem;
        &-container {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }
    &__link {
        text-decoration: none;
    }
}